body {
    background-image: linear-gradient(to right, magenta,purple);
    color: black;
    font-family:fantasy
}

#image{
    display: flex;
    justify-content: center;
    
}


#duck {
    height: 100px;
    border-radius: 20px;
    
}

.paragraphs {
    display: flex;
    justify-content: center;

}

